<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
  <div class="logo">
    <a href="/">
      <img src="/imagens/academialogo.png" alt="Logo"> <!-- Ajuste o caminho da imagem se necessário -->
    </a>
  </div>

  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/planos">Planos</a></li>
    <li><a href="/perfil">Meu Perfil</a></li>
    <li><a href="/treinos">Treinos</a></li>
    <% if (!userId) { %>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/cadastro">Cadastre-se</a></li>
    <% } else { %>
      <li><a href="/auth/logout">Sair</a></li>
    <% } %>
  </ul>
</nav>

