<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos - Academia</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>

    <!-- Navbar -->
     <%- include('partials/navbar') %>

    <!-- Quadros dos Planos -->
    <div class="quadros-container">
        <div class="quadro">
            <h1 class="preco">R$ 120,90/mês</h1>
            <h2>MENSAL</h2>
            <ul class="beneficios">
                <li>Acesso a equipamentos básicos</li>
                <li>Treinos em grupo</li>
                <li>Monitoramento de progresso mensal</li>
            </ul>
        </div>

        <div class="quadro">
            <h1 class="preco">R$ 99,90/mês</h1>
            <h2>3 MESES</h2>
            <ul class="beneficios">
                <li>Acesso completo aos equipamentos</li>
                <li>Treinos personalizados</li>
                <li>Desconto em produtos da academia</li>
            </ul>
        </div>

        <div class="quadro">
            <h1 class="preco">R$ 65,90/mês</h1>
            <h2>ANUAL</h2>
            <ul class="beneficios">
                <li>Acesso ilimitado a todos os equipamentos</li>
                <li>Treinos personalizados diários</li>
                <li>Acompanhamento nutricional e fisioterápico</li>
            </ul>
        </div>
    </div>

</body>
</html>
